.container-fluid {
  height: 100%;
}

.split-container-primary {
  background-color: #ffffff;
  height: 100%;
}

.split-container-content {
  padding: 10% 20%;
  justify-content: center;
  margin-top: 0;
  height: 100%;
  flex-direction: column;
  width: 100%;
}

.additional-info {
  width: 100%;
  max-width: 360px;
  margin: auto;
}

.additional-info div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.additional-info label {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.additional-info input {
  width: 100%;
  padding: 10px;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 10px;
}
.error {
  color: red;
}

.fill img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#create-account-button,
#log-in-button {
  background-color: #4f4f4f;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#create-account-button:hover {
  background-color: #363636;
}
#continue-button {
  background-color: #4f4f4f;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#continue-button:hover {
  background-color: #363636;
}

.create-account-main {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}
.header-create-element {
  margin: auto;
  justify-content: center;
  max-width: 360px;
  margin-bottom: 20px;
}

.header-create-element h1:first-child {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0;
}

.header-create-element h1:last-child {
  font-size: 24px;
  font-weight: normal;
  margin-top: 10px;
}

.eds-text-hl,
.eds-text-hl--fixed {
  text-align: left;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 1px;
  margin-right: -1px;
  font-weight: 800;
}

.eds-btn {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
  height: 44px;
  padding: 0 30px 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #39364f;
  color: var(--eds-ui-800, #39364f);
  fill: #39364f;
  fill: var(--eds-ui-800, #39364f);
  background: transparent;
  border: 2px solid #a9a8b3;
  border: 2px solid var(--eds-ui-500, #a9a8b3);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.3, 1);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.3, 1);
}

.eds-btn.eds-btn--block {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.eds-btn--fill,
.eds-btn--fill:focus,
.eds-btn--fill:hover {
  color: #fff;
  color: var(--eds-inverse-primary-brand, #fff);
  fill: #fff;
  fill: var(--eds-inverse-primary-brand, #fff);
}
.eds-btn--fill {
  border-color: #d1410c;
  border-color: var(--eds-primary-brand, #d1410c);
  background-color: #d1410c;
  background-color: var(--eds-primary-brand, #d1410c);
}

.company-name {
  color: #d1410c;
  text-align: left;
  font-style: italic;
  font-size: 14px;
}
