@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  align-items: center;
  padding: 10vh;
  background-color: white;

}


.mainButton button {
  background-color: rgb(205, 73, 26);
  border-radius: 5px;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
  font-size: small;
  color: white;
  transition: background-color 0.5s ease; /* add transition property */
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.mainButton button:hover {
  background-color: rgb(232, 95, 45);
}




.inputContainer {
  /* margin-top: 1rem; */
  padding: 5px;
  padding-left: 1rem;
  border: 1px solid rgb(212, 212, 212);
  transition: border 0.2s ease-out;
  border-radius: 2px;
  min-height: 3rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: small;

}

.inputContainer select {
  font-size: small;
}


.inputContainer input {
  border: none;
}


.inputContainer textarea {
  border: none;
}

.inputContainer:hover {
  border-color: gray;
  color: gray
}



.inputContainer input:focus {
  outline: 0;
}

.inputContainer textarea:focus {
  outline: 0;
}

.inputContainer:focus-within {
  outline: 0;
  border-color: blue;
  color: blue
}

.inputContainer:focus-within .inputLabel {
  color: blue;
}

.inputLabel {
  font-size: small;
  color: #8d8d8d;
  font-weight: 200;
  transition: color 0.2s ease-out;
}





.formButtons button{
  background-color: white;
  justify-content: center;
  align-items: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
  width: max-content;
  border: 1px solid rgb(212, 212, 212);
  color: #535353;
  font-size: medium;
  border-radius: 5px;
}
.formButtons button:hover{
  border: 1px solid gray;
}

.formButtons button.active{
  background-color: rgb(234, 234, 255);
  justify-content: center;
  align-items: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
  width: max-content;
  border: 1px solid blue;
  color: blue;
  font-size: medium;
  border-radius: 5px;
}


.formButtons button:active{
  opacity: 70%;
}







.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 5rem;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
}

.sidebar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease;
  /* margin: '1rem' */
}

/* .sidebar-item:hover {
  background-color: #ffffff;
} */

/* .sidebar-item-info {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-100%);
  background-color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
} */



.activated{
  background-color: blue;
}


.nav-link:hover,
.link:hover {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.no-underline:hover {
  text-decoration: none;
}
