.foreground_image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
}
.image_container {
  border: 0.5px solid #ccc;
  border-radius: 32px;
  max-width: 1200px;
  margin: 2% auto 0 auto;
  position: relative;
  overflow: hidden;
}

.image_cover {
  width: max-content;
  align-items: center;
  display: block;
  margin: 0 auto;
  top: 0;
  width: 1200px;
  max-height: 470px;
  border-radius: 10px;
  filter: blur(2rem) brightness(0.9);
}
