/* Basic styling */
.forms {
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .form-group {
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  select {
    display: block;
    width: 100%;
    /* padding: 10px; */
    border-radius: 5px;
    border: none;
    box-shadow: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    transition: border-color 0.3s ease-in-out;
  }
  
  input[type="text"]:focus,
  select:focus {
    outline: none;
    border: none;
  }
  
  p {
    margin: 5px 0 0;
    font-size: 14px;
  }
  
  a {
    color: #00bfff;
    text-decoration: none;
  }
  
  /* Tags input */
  .tags-input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
  }
  
  .tags-input input[type="text"] {
    flex: 1;
    margin-right: 10px;
  }
  
  .tags-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
  }
  
  .tag {
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 20px;
  }
  
  .tag-close-icon {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    color: #999;
    cursor: pointer;
  }
  
  .tag-close-icon:hover {
    color: #333;
  }
  
  /* Location input */
  .location-input {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .location-input-select {
    flex: 1;
    margin-right: 10px;
  }
  
  .location-input-search {
    flex: 2;
  }
  
  .location-input-select select {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    transition: border-color 0.3s ease-in-out;
  }
  
  .location-input-select select:focus {
    outline: none;
    border-color: #00bfff;
  }
  
  .location-input-search input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    transition: border-color 0.3s ease-in-out;
  }
  
  .location-input-search input[type="text"]:focus {
    outline: none;
    border-color: #00bfff;
  }
  