.basic form {
  max-width: 1000px;
  margin: 0 auto;
  font-family: sans-serif;
  margin-bottom: 5rem;
}




.basic h2{
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.inputContainer {
  margin-top: 1rem;
  padding: 5px;
  padding-left: 1rem;
  border: 1px solid rgb(212, 212, 212);
  transition: border 0.2s ease-out;
  border-radius: 2px;
  min-height: 3rem;
  /* min-height: 3rem; */
}

.inputContainer:hover {
  border-color: gray;
}

.inputContainer:focus-within {
  outline: 0;
  border-color: blue;
}

.inputContainer input:focus {
  outline: 0;
  border-color: blue;
}


.invalid{
  margin-top: 1rem;
  padding: 5px;
  padding-left: 1rem;
  border: 1px solid red;
  transition: border 0.2s ease-out
}

.inputLabel{
  font-size: small;
  color: #8d8d8d;
  font-weight: 200;
  transition: color 0.2s ease-out
}

.inputText{
  font-size: xx-small;
}

.title{
  color: rgb(19, 19, 19);
  font-size: xx-large;
  margin-bottom: 3px;
}


.para{
  margin: 0;
  font-size: small;
  color: rgb(60, 60, 60);
  width: 80%;
}




.form-group select {
  /* margin-right: 1rem; */
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #535353;
  background-color: #fff;
  font-size: small;
  /* border: 1px solid #d9d9d9; */
  padding-left: 0.5rem;
  height: 3rem;
  border-radius: 2px;
  padding-right: 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* .form-group select:focus {
  border-color: blue;
}

.form-group select:hover {
  border-color: gray;
} */









/* TAGS */

.secondaryTitle{
  color: rgb(60, 60, 60);
  font-size: large;
  margin-bottom: 3px;
}





/* LOCATION */


.locationButton{
  background-color: white;
  justify-content: center;
  align-items: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
  width: max-content;
  border: 1px solid rgb(212, 212, 212);
  color: #535353;
  font-size: medium;
  margin-right: 2rem;
  border-radius: 5px;
}
.locationButton:hover{
  border: 1px solid gray;
}

.active{
  background-color: rgb(234, 234, 255);
  justify-content: center;
  align-items: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
  width: max-content;
  border: 1px solid blue;
  color: blue;
  font-size: medium;
  margin-right: 2rem;
  border-radius: 5px;
}


.active:active{
  opacity: 70%;
}

/* Basic styling */
.forms {
  max-width: 800px;
  margin: 0 auto;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.form-group {
  margin-bottom: 30px;
}

.basic label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.basic input[type="text"],
select {
  display: block;
  width: 100%;
  /* padding: 10px; */
  border-radius: 5px;
  border: none;
  box-shadow: none;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  transition: border-color 0.3s ease-in-out;
}

.basic input[type="text"]:focus,
select:focus {
  outline: none;
  border: none;
}

.basic p {
  margin: 5px 0 0;
  font-size: 14px;
}

.basic a {
  color: #00bfff;
  text-decoration: none;
}

/* Tags input */
.tags-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
}

.tags-input input[type="text"] {
  flex: 1;
  margin-right: 10px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.tag {
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 20px;
}

.tag-close-icon {
  display: inline-block;
  margin-left: 5px;
  font-size: 14px;
  color: #999;
  cursor: pointer;
}

.tag-close-icon:hover {
  color: #333;
}

/* Location input */
.location-input {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.location-input-select {
  flex: 1;
  margin-right: 10px;
}

.location-input-search {
  flex: 2;
}

.location-input-select select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: none;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  transition: border-color 0.3s ease-in-out;
}

.location-input-select select:focus {
  outline: none;
  border-color: #00bfff;
}

.location-input-search input[type="text"] {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: none;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  transition: border-color 0.3s ease-in-out;
}

.location-input-search input[type="text"]:focus {
  outline: none;
  border-color: #00bfff;
}












/* DATE */
