.overlay-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20rem;
  background-color: #fff;
  z-index: 9999;
  transform: translateX(100rem);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.overlay.open {
  transform: translateX(65rem);
  right: 0
}

.overlay-content {
  padding: 1rem;
}
